.bgnavbar{
    background-color: #289cd1!important;
}

.background-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('../img/back-login2.jpg') no-repeat center;
    background-size: cover;
    background-color: rgba(0,0,0,0.6);
    z-index: -1;
}

.FlexContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    /* background-color: #2f1d58; */
    height: 89vh;
    overflow: auto;
    flex-direction: row;
}


.FlexContainer div {
    width: 50%;
    height:50%;
    margin: 30px;
    background-color: lightblue;
    border-radius: 10%;
}